<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.fefu.admin.AdminMapper">
    <select id="getParentList">
        SELECT p.parents_id AS pk , p.uid AS id,
        p.nm AS name, c.class_id AS grade,
        p.created_at AS createdAt
        FROM
        parents p
        JOIN student s
        ON p.parents_id = s.parents_id
        JOIN student_classes sc
        ON s.stu_id = sc.stu_id
        JOIN class c
        ON sc.class_id = c.class_id
        WHERE
        p.acept = 2
    </select>

    <select id="getTeacherList">
        SELECT t.tea_id AS pk, t.uid AS id,
        t.nm AS name, c.class_id AS grade,
        t.created_at AS createdAt
        FROM teacher t
        JOIN class c
        ON c.tea_id = t.tea_id
        WHERE t.acept = 2
    </select>
</mapper>